{% extends "layout.html" %}

{% block content %}


<script>
    $(document).ready(function () {
        $("#addStocks").click(function () {
            $(".ui.modal").modal("show");
        })

        $("#save").click(function () {

            var symbols = $("#symbols").val();

            var stockSymbols = symbols.split("\n")

            console.log(stockSymbols);

            for (var i = 0; i < stockSymbols.length; ++i) {
                console.log(stockSymbols[i]);

                $.ajax({
                    url: "/stock",
                    type: "POST",
                    contentType: 'application/json',
                    data: JSON.stringify({ "symbol": stockSymbols[i] })
                });
            }

            $(".ui.modal").modal("hide");

        })
    })
</script>


<div class="ui input">
    <input type="text" placeholder="P/E Ration">
</div>

<div class="ui input">
    <input type="text" placeholder="Dividend Yield">
</div>

<div class="ui checkbox">
    <input type="checkbox" name="example">
    <label>Above 50 day MA</label>
</div>

<div class="ui checkbox">
    <input type="checkbox" name="example">
    <label>Above 200 day MA</label>
</div>



<button class="ui button primary">
    Filter
</button>

<button id="addStocks" class="ui button">
    Add Stocks
</button>

<table class="ui celled table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Forward P/E</th>
            <th>Forward EPS</th>
            <th>Dividend Yield</th>
            <th>50 Day</th>
            <th>200 Day</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol or '-' }}</td>
                <td>{{ stock.price or '-' }}</td>
                <td>{{ stock.forward_pe or '-' }}</td>
                <td>{{ stock.forward_eps or '-' }}</td>
                <td>{{ stock.dividend_yield or '-' }}</td>
                <td>{{ stock.ma50 or '-' }}</td>
                <td>{{ stock.ma200 or '-' }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Stock Symbol
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Enter Stock Symbol</label>
                <textarea id="symbols"></textarea>
            </div>
        </div>
    </div>

    <div class="actions">
        <div id="save" class="ui positive right labeled icon button">
            Add Stocks
            <i class="plus icon"></i>
        </div>
    </div>
</div>
{% endblock %}